.taskContainer {
    background-color: #fff;
    box-shadow: 0 35px 50px rgba(194,195,214,.501961);
    font-size: 1.1rem;
    letter-spacing: -0.25px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.btnFinish {
    color:#fff;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.taskDetails {
    max-width: 65%;
}