.header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

@media (min-width: 900px) {
    .header {
        margin-bottom: 1rem;
    }
}

@media (max-width: 700px) {
    .header {
        margin-bottom: 2rem;
        margin-top: 2.5rem;
    }
}
