
.btnAgregar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    font-size: 18px;
}
.btnBlueBg {
    background-color: rgb(42, 42, 248);
}
.btnBlueBg:hover {
    background-color: rgb(26, 2, 123);
}
.btnVioletBg {
    background-color: rgb(144, 0, 240);
}
.btnVioletBg:hover {
    background-color: rgb(77, 3, 126);
}
.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.351);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    padding: 1.5rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.input-cont {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
}
.input-cont input {
    width: 100%;
    border: 1px solid gray;
}
.input-cont textarea{
    font-size: 1.1rem;
    padding: 10px;
    height: 200px;
    border: 1px solid gray;
}
.btn-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btnModal {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    font-size: 1rem;
}

